
 <div class="navbar bg-bar">
    <div class="navbar-inner">
    <div class="left">
           <a href="#" class="link icon-only">
               <i class="icon icon-logo"></i>
           </a>
       </div>
      <div class="right padding-right-10 white">Coupons</div>
    </div>
</div>

	  
<div class="title" >
Available Coupons
</div> 


<div class="page-content pull-to-refresh-content" >
  <div class="pull-to-refresh-layer">
    <div class="preloader"></div>
    <div class="pull-to-refresh-arrow"></div>
  </div>

  <div class="list-block media-list">
    <ul>
    </ul>
    <div class="list-block-label">
      <p>Just pull page down to let the magic happen.</p>
    </div>
  </div>
  
</div>  