
<div class="navbar bg-bar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link icon-only tab-link" data-tab="#buy-view"> <i class="icon icon-back"></i>
			</a>
		</div>
		<div class="right padding-right-10 white">Detail</div>
	</div>
</div>


<div class="title" >
	<p class="info">Account Balance &nbsp;&nbsp;&nbsp; 500 Points</p>
	<hr/>
	<p class="info">Expiry Date&nbsp;&nbsp;&nbsp; June 30,2017</p>
</div>  

<div class="page-content content hide-bars-on-scroll" >
	<div class="center" >	
		<div class="icon"></div>
		<p class="name">Coupon Name</p>
		<p class="poins">200 Poins</p>
	</div>

	<div class="bottom" >
		<p class="buttons-row">
		  <a href="#" class="button button-fill color-teal redeem">Redeem Coupon</a>
		</p>
	</div>

</div>

  <div class="page-content">
    <div class="content-block">
      <p><a href="#" class="confirm-ok">Confirm with text and Ok callback</a></p>
      <p><a href="#" class="confirm-ok-cancel">Confirm with text, Ok and Cancel callbacks</a></p>
      <p><a href="#" class="confirm-title-ok">Confirm with text, title and Ok callback</a></p>
      <p><a href="#" class="confirm-title-ok-cancel">Confirm with text, title, Ok and Cancel callback</a></p>
    </div>
  </div>