<div class="navbar bg-bar">
	<div class="navbar-inner">
	    <div class="left">
            <a href="#" class="link icon-only">
                <i class="icon icon-logo"></i>
            </a>
        </div>
		<div class="right padding-right-10 white">Discipline</div>
	</div>
</div>


<div class="page-content content" >
<div id="discipline" data-page="discipline">
<form id="input-form">
			<div class="list-block">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Record No.</div>
							<div class="item-input">
								<input type="text" name="record_no" id="record_no" placeholder="Record No." />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Date</div>
							<div class="item-input">
								<input type="datetime-local" name="ocurrence_datetime" id="ocurrence_datetime" placeholder="Ocurrence Time" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">HKID</div>
							<div class="item-input">
								<input type="text" name="hkid" id="hkid"
									placeholder="e.g. P123456(1)" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">First Name</div>
							<div class="item-input">
								<input type="text" name="first_name" id="first_name"
									placeholder="First Name" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Last Name</div>
							<div class="item-input">
								<input type="text" name="last_name" id="last_name"
									placeholder="Last Name" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">AVL No.</div>
							<div class="item-input">
								<input type="text" name="avl_no-input" id="avl_no-input"
									placeholder="AVL No." />
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="list-block">
				
				<a href="#" class="button button-fill color-teal save">Save</a>
			</div>
		</form>
</div>
</div>
