<div id="index" data-page="index"
	class="page toolbar-fixed navbar-fixed">

	<div class="tabs toolbar-through mytabs">
	
	    <div id="navmenu-view" class="tab active "></div>
	    
	    <div id="high_power_engine_run_records-form-view" class="tab"></div>
	    
	    <div id="high_power_engine_run_records-list-view" class="tab"></div>
	    
	    <div id="acc-view" class="tab"></div>
	    
	    <div id="airfield-view" class="tab"></div>
	
	    <div id="discipline-view" class="tab"></div>
	    
	    <div id="discipline-form-view" class="tab"></div>
	    
	    <div id="discipline-list-view" class="tab"></div>
	    
	    <div id="survey-view" class="tab">Survey</div>
	    
	    <div id="survey-form-view" class="tab"></div>
	    
	    <div id="cataring-form-view" class="tab"></div>
	    
	    <div id="cataring-item-view" class="tab"></div>
	    
	    <div id="survey-list-view" class="tab"></div>
	    
		<div id="account-view" class="tab"></div>

	</div>

	<!-- Toolbar has additional "toolbar-bottom" class -->
	<div class="toolbar tabbar toolbar-bottom bg-bar">
		<div class="toolbar-inner">
		      <a href="#navmenu-view" class="tab-link active"> 
			    <i class="icon tabbar-home-icon"> </i> 
			  </a> 
			  <a href="#acc-view" class="tab-link"> 
			    <i class="icon tabbar-account-icon"> </i> 
			  </a> 
			  <a href="#airfield-view" class="tab-link"> 
			    <i class="icon tabbar-airfield-icon"> </i> 
			  </a> 
			  <!-- 
		      <a href="#discipline-view" class="tab-link"> 
			    <i class="icon tabbar-discipline-icon"> </i> 
			  </a> 
			   -->
			  <a href="#survey-view" class="tab-link"> 
			    <i class="icon tabbar-discipline-icon"> </i> 
			  </a> 
		</div>
	</div>

</div>

