
<div id="login" data-page="login"
	class="page no-navbar no-toolbar no-swipeback">
	<div class="page-content login-screen-content">
	<div class="header"></div>
	<div class="center">
		<form id="login-form">
			<div class="list-block">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Email</div>
							<div class="item-input">
								<input type="text" name="username" value="cnt_tsl1" placeholder="Your account" />
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">Password</div>
							<div class="item-input">
								<input type="password" name="password" value="password"
									placeholder="Your password" />
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div  class="forgot_pwd"><a href="#"> Forgot your email or password? </a></div>
			<div class="list-block">
				
				<a href="#" class="button button-fill color-teal sing_in">Sign In</a>
			</div>
		</form>
	 </div>
	</div>
</div>
