
<div class="navbar bg-bar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link icon-only tab-link" data-tab="#coupons-view"> <i class="icon icon-back"></i>
			</a>
		</div>
		<div class="right padding-right-10">Payment</div>
	</div>
</div>


	<div class="top" >
		<p class="info">Account Balance &nbsp;&nbsp;&nbsp; 500 Points</p>
		<hr/>
		<p class="info">Expiry Date&nbsp;&nbsp;&nbsp; June 30,2017</p>
	</div>  

<div class="page-content content hide-bars-on-scroll" >
	<div class="center" >	
		<div class="icon"></div>
		<p class="name">Coupon Name</p>
		<p class="poins">200 Poins</p>
	</div>

	<div class="bottom" >
		<p class="buttons-row">
		  <a href="#" onclick="confirm()" class="button button-fill color-teal redeem" >Redeem Coupon</a>
		</p>
	</div>

</div>