
<div class="navbar bg-bar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link icon-only tab-link" data-tab="#buy-view"> <i class="icon icon-back"></i>
			</a>
		</div>
		<div class="right padding-right-10 white">Detail</div>
	</div>
</div>


	<div class="title" >
		<p class="info">Account Balance &nbsp;&nbsp;&nbsp; {{MemPtBal}} Points</p>
		<hr/>
		<p class="info"><!-- Expiry Date&nbsp;&nbsp;&nbsp; {{ExpDate}} --></p>
	</div>  

<div class="page-content" >
	<div class="center" >	
		<div class="icon"></div>
		<p class="name">{{PromotionName}}</p>
		<p class="poins">{{GiftPackageName}}</p>
	</div>

	<div class="bottom" >
		<p class="buttons-row">
		  <a href="#" class="button button-fill color-teal redeem">Redeem Coupon</a>
		</p>
	</div>

</div>
