<div class="navbar bg-bar">
		<div class="navbar-inner">
		    <div class="left">
	            <a href="#" class="link icon-only">
	                <i class="icon icon-logo"></i>
	            </a>
	        </div>
			<div class="center white">Catering</div>
            <div class="right">
                <a href="#" class="link icon-only tab-link" data-tab="#cataring-form-view"> <i class="icon icon-back"></i></a>
            </div>
		</div>
	</div>

    <div class="page-content content" >
		<div class="list-block">
			<ul>
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Catering truck enters parking stand via tail of stand road.</p></div>
			        <div class="item-after tips_1"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange"  id='tips_1'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_1'>No</a>
			    <a href="#" class="na_action" id='tips_1'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Catering Truck stands-by at the designated area.</p></div>
			        <div class="item-after tips_2"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_2'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_2'>No</a>
			    <a href="#" class="na_action" id='tips_2'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Catering vehicles (other than Catering Truck) approach and park next to the aircraft other than the designated GSE area.</p></div>
			        <div class="item-after tips_3"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_3'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_3'>No</a>
			    <a href="#" class="na_action" id='tips_3'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Lookout is provided when approaching aircraft to prevent unnecessary contact with aircraft.</p></div>
			        <div class="item-after tips_4"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_4'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_4'>No</a>
			    <a href="#" class="na_action" id='tips_4'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>When approaching the aircraft, the catering truck is stopped completely by applying brake at least 3M before reaching the aircraft.</p></div>
			        <div class="item-after tips_5"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_5'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_5'>No</a>
			    <a href="#" class="na_action" id='tips_5'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Catering truck rear roller shutter is fully closed when the truck is being lifted up.</p></div>
			        <div class="item-after tips_6"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_6'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_6'>No</a>
			    <a href="#" class="na_action" id='tips_6'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Guiding signals are provided by a guideman for equipment docking to the aircraft.</p></div>
			        <div class="item-after tips_7"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_7'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_7'>No</a>
			    <a href="#" class="na_action" id='tips_7'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Stabilizers and chocks are applied correctly after truck engaged to aircraft.</p></div>
			        <div class="item-after tips_8"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_8'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_8'>No</a>
			    <a href="#" class="na_action" id='tips_8'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Guardrail is fully extended when the gangway connected to aircraft.</p></div>
			        <div class="item-after tips_9"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_9'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_9'>No</a>
			    <a href="#" class="na_action" id='tips_9'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Catering personnel, while entering or leaving the aircraft via catering truck, use proper gangway.</p></div>
			        <div class="item-after tips_10"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_10'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_10'>No</a>
			    <a href="#" class="na_action" id='tips_10'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>All loose objects keep inside the trolley when crossing the gangway.</p></div>
			        <div class="item-after tips_11"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_11'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_11'>No</a>
			    <a href="#" class="na_action" id='tips_11'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Lookout is provided for reversing of catering truck if approved CCTV system of rear video is not installed/serviceable.</p></div>
			        <div class="item-after tips_12"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_12'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_12'>No</a>
			    <a href="#" class="na_action" id='tips_12'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Cabin door is closed before the catering truck leaving the aircraft.</p></div>
			        <div class="item-after tips_13"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_13'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_13'>No</a>
			    <a href="#" class="na_action" id='tips_13'>N/A</a>
			  </div>
			</li>
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"><p>Catering truck leaves the stand using tail of stand road. (excluded servicing R1 or R2 door)</p></div>
			        <div class="item-after tips_14"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_14'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_14'>No</a>
			    <a href="#" class="na_action" id='tips_14'>N/A</a>
			  </div>
			</li>
			
			
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-inner">
			        <div class="item-title2"></p>FOD left behind after aircraft servicing activities.</p></div>
			        <div class="item-after tips_15"></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="yes_action bg-orange" id='tips_15'>Yes</a>
			    <a href="#" class="no_action bg-red" id='tips_15'>No</a>
			    <a href="#" class="na_action" id='tips_15'>N/A</a>
			  </div>
			</li>
			
			</ul>
		</div>
		<div class="list-block">
			<input type="text" name="remarks" class="remarks" placeholder="Remarks" />
		</div>
		<div class="list-block">
			<a href="#" class="button button-fill color-teal save">Submit</a>
		</div>
    </div>
