<div class="navbar bg-bar">
		<div class="navbar-inner">
		    <div class="left">
	            <a href="#" class="link icon-only">
	                <i class="icon icon-logo"></i>
	            </a>
	        </div>
			<div class="center white">Catering</div>
            <div class="right">
                <a href="#" class="link icon-only tab-link" data-tab="#survey-view"> <i class="icon icon-back"></i></a>
            </div>
		</div>
	</div>
	
	<div class="page-content content" >
	<div id="catering" data-page="catering">
	<form id="input-form">
				<div class="list-block">
					<ul>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label">Flight No.</div>
								<div class="item-input">
									<input type="text" name="record_no" class="record_no" placeholder="Flight No." />
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label">Start Date</div>
								<div class="item-input">
									<input type="text" name="start_date" class="start_date" placeholder="Start Date" />
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label">Chock On</div>
								<div class="item-input">
									<input type="text" name="chock_on" class="chock_on" placeholder="(e.g. 1230)" />
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label">Chock Off</div>
								<div class="item-input">
									<input type="text" name="chock_off" class="chock_off" placeholder="(e.g. 1230)" />
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label">Stand No.</div>
								<div class="item-input">
									<input type="text" name="hkid" class="hkid"
										placeholder="Stand No." />
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label">A/C Type</div>
								<div class="item-input">
									<input type="text" name="ac_type" class="ac_type"
										placeholder="A/C Type" />
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label">Registration</div>
								<div class="item-input">
									<input type="text" name="registration" class="registration"
										placeholder="Registration" />
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label">A/D/T</div>
								<div class="item-input">
									<input type="text" name="adt" class="adt"
										placeholder="A/D/T" />
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label">Operator</div>
								<div class="item-input">
									<input type="text" name="operator" class="operator"
										placeholder="Operator" />
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-block">
					<a href="#" class="button button-fill color-teal save next">Next</a>
				</div>
			</form>
	</div>
	</div>
