 <div class="navbar bg-bar">
	   <div class="navbar-inner">
	      <div class="left">
            <a href="#" class="link icon-only">
                <i class="icon icon-logo"></i>
            </a>
          </div>
		  <div class="center white">Survey</div>
          <div class="right">
             <a href="#" class="link icon-only tab-link" data-tab="#navmenu-view"> <i class="icon icon-back"></i></a>
            </div>
	     </div>
	     </div>
    </div>
    <div class="page-content content" >
		<div class="list-block">
			<ul>
			<li class="swipeout catering">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-media"><i class="icon icon-f7"></i></div>
			      <div class="item-inner">
			        <div class="item-title">Catering</div>
			        <div class="item-after"><span class="badge">5</span></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="add_acc bg-orange">Add</a>
			    <a href="#" class="search_acc">Search</a>
			  </div>
			</li>
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-media"><i class="icon icon-f7"></i></div>
			      <div class="item-inner">
			        <div class="item-title">Refueling</div>
			        <div class="item-after"><span class="badge">5</span></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="add_airfield bg-orange">Add</a>
			    <a href="#" class="search_airfield">Search</a>
			  </div>
			</li>
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-media"><i class="icon icon-f7"></i></div>
			      <div class="item-inner">
			        <div class="item-title">Line Maintenance</div>
			        <div class="item-after"><span class="badge">5</span></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="add_apron bg-orange">Add</a>
			    <a href="#" class="search_apron">Search</a>
			  </div>
			</li>
			<li class="swipeout">
			  <div class="swipeout-content">
			    <a href="#" class="item-content item-link">
			      <div class="item-media"><i class="icon icon-f7"></i></div>
			      <div class="item-inner">
			        <div class="item-title">Ramp Handling</div>
			        <div class="item-after"><span class="badge">5</span></div>
			     </div>
			    </a>
			  </div>
			  <div class="swipeout-actions-right">
			    <a href="#" class="add_discipline bg-orange">Add</a>
			    <a href="#" class="search_discipline">Search</a>
			  </div>
			</li>
			</ul>
		</div>
    </div>